{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Version Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Version Deleted</h1>
{% endblock page_title %}

{% block content %}
    <form action="" id="delete-confirmation" method="post">{% csrf_token %}
        <div class="notification is-warning is-light">
            <div class="columns">
                <div class="column is-10">
                    <p class="is-size-5">Please confirm you wish to delete the version below!</p>
                </div>
                <div class="column is-2">
                    <div class="buttons">
                        <a class="button is-small is-danger"
                           href="#"
                           onClick="$('#delete-confirmation').submit()"
                           title="Confirm Delete {{ version.name }}">
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                        <a class="button is-small"
                           href='{% url "version-list" %}'
                           title="Cancel">
                            <span class="icon is-small">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h3 class="subtitle"><span class="has-text-grey">Version:</span> {{ version.name }}</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                {{ version.description|base_markdown }}
            </div>
            <div class="column is-4">
                {% if version.image_file %}
                    <figure class="image">
                        <img src="{{ version.image_file.url }}" />
                    </figure>
                {%  endif %}
            </div>
        </div>
    </form>
{% endblock %}
