{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Entries Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Entry Deleted</h1>
{% endblock page_title %}

{% block content %}
    <div class="box-content">
        <form action="" id="delete-confirmation" method="post">{% csrf_token %}
            <div class="notification is-danger is-light">
                <p>Please confirm you wish to delete the entry below!</p>
            </div>
            <div class="content">
                <h3><strong>Feature:</strong> {{ entry.title }}</h3>
                <div class="columns">
                    <div class="column is-two-thirds">
                        {{ entry.description|base_markdown }}
                    </div>
                    <div class="column">
                        {% if entry.image_file %}
                            <figure class="image is-4by3">
                                <img class="is-rounded" src="{{ entry.image_file.url }}" />
                            </figure>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="buttons is-right">
                <button class="button is-danger" type="submit">
                    <span class="icon"><i class="fas fa-minus"></i></span>
                    <span>Delete</span>
                </button>
                <a class="button is-light" href='{% url "version-detail" slug=entry.version.slug %}'>
                    <span class="icon"><i class="fas fa-arrow-left"></i></span>
                    <span>Cancel</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}
