{% extends "base_with_sidebar.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Entries - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block js_head %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock js_head %}

{% block page_title %}
    <h1>Entries</h1>
{% endblock page_title %}

{% block content %}
    <div class="box-content">
        <h1 class="title is-4">
            <span class="icon">
                <i class="fas fa-sort"></i>
            </span>
            Order Entries for {{ category.name }}
            <span id="order-saved" class="tag is-success is-light is-hidden" style="font-size: 9pt; padding: 3px; font-style: italic;">
                order saved
            </span>
            <span id="order-not-saved" class="tag is-danger is-light is-hidden" style="font-size: 9pt; padding: 3px; font-style: italic;">
                order not saved
            </span>
            <div class="buttons is-pulled-right" style="margin-top: 5px;">
                <a class="button is-small is-light tooltip-toggle"
                   href='{% url "version-detail" slug=version.slug %}'
                   data-title="Entry List">
                    <span class="icon">
                        <i class="fas fa-list"></i>
                    </span>
                </a>
            </div>
        </h1>
        {% if entry.count == 0 %}
            <h3 class="subtitle is-5">No entries are defined.</h3>
        {% endif %}
        <ul id="sortable" data-url="{% url "entry-submit-order" version_pk=version.pk category_pk=category.pk %}">
        {% for entry in object_list %}
            <li class="order card" style="margin-top:6px;" id="{{ entry.id }}-{{ entry.title }}">
                <div class="content">
                    <p>
                        <span class="icon" style="margin-right: 20px;">
                            <i class="fas fa-bars"></i>
                        </span>
                        {{ entry.title }}
                    </p>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

